
.item-image {
  font-size: 6em;
  color: lightgray;
}

.item-price {
  font-weight: bold;
}

.container {
  display: flex;
      flex-flow: row wrap;
  }

  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width: 60rem;
    position: center;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }