<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <img class="img-fluid" src="assets/CEH_big.jpg" style="width: 45rem ; height: 25rem" alt="">
            <br>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Center aligned text on all viewport sizes.</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-6">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="certif-desciption col-md-12">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quibusdam facere totam fugit
                        quis nobis, aspernatur sequi commodi, obcaecati quod tempore facilis ut debitis expedita quam
                        maiores accusantium voluptate nesciunt.</p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="story-button col-md-3">
            <img class="avatar-image m-3" src="/assets/avatar-01.jpg" alt="AVATAR" (click)="cliked()">
        </div>
        <div class="story-button col-md-3">
            <img class="avatar-image m-3" src="/assets/avatar-01.jpg" alt="AVATAR" (click)="cliked()">
        </div>
        <div class="story-button col-md-3">
            <img class="avatar-image m-3" src="/assets/avatar-01.jpg" alt="AVATAR" (click)="cliked()">
        </div>
        <div class="story-button col-md-3">
            <img class="avatar-image m-3" src="/assets/avatar-01.jpg" alt="AVATAR" (click)="cliked()">
        </div>
    </div>
    <div class="row">
        <div class="selected-categorie">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, obcaecati magnam officiis, minima aperiam iste aut consectetur ratione illum molestias voluptate, soluta esse fuga unde animi hic quae atque quos?</p>
        </div>
    </div>
    <h1>Related Certifications</h1>
    <div class="row">
            <div class="col-md-3 col-lg-3">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>

    </div>
</div>