<nb-layout>

  <nb-layout-header fixed>
    <!--<nb-search type="rotate-layout"></nb-search>-->

    <!--
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" > 
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  -->
    <!-- Insert header here -->
  </nb-layout-header>

  

  <nb-layout-column>

    <!--
    <div class="container">
      <div class="card-deck">
    
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/Depositphotos_26164595_m-2015.jpg"
            class="img-fluid" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
    
        <div class="card" style="width: 18rem;">
          <img 
          class="card-img-top" 
          src="../assets/partner-debit.png"
          class="img-fluid"
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
    
        <div class="card" style="width: 18rem;">
          <img 
          class="card-img-top" 
          src="../assets/cisco-ccna.jpg"
          class="img-fluid"
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
    
        
    
      </div>
    </div>
    
    -->
    <!--
    <app-certif-forms></app-certif-forms>
    -->


    <!--
    <app-certification></app-certification>
    -->
    <router-outlet></router-outlet>
    <!--<button class="float" (click)="onFloatClick()">Icon</button>-->
    <input class="float" type="image" id="image" alt="Login" src="/assets/bot.png" (click)="onFloatClick()" >
    <app-chatbot *ngIf="clicked" style="clear: both;"></app-chatbot> <!--style="position: fixed ;bottom : 1rem; right: 1rem; width: 6em; height: 4.5em; "-->



    <!--
    <app-certification></app-certification>
    -->

    <!-- <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <img alt="Card image cap" class="card-img-top embed-responsive-item" src="../assets/partner-debit.png" />
          </div>
          <div class="card-block">
            <h4 class="card-title">Butter Pecan</h4>
            <p class="card-text">Roasted pecans, butter and vanilla come together to make this wonderful ice cream</p>
          </div>
        </div>
      </div>
    </div> -->
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>