<div class="container-fluid">
    <div class="row">
        <h2>filter</h2>
    </div>
    <!-- <div class="row">
        <label class="btn btn-info mr-2">
            <input type="checkbox" ngbButton> demande
        </label>
        <label class="btn btn-info mr-2">
            <input type="checkbox" ngbButton> accepted
        </label>
        <label class="btn btn-info mr-2">
            <input type="checkbox" ngbButton> passed
        </label>
    </div> -->
    <!-- <div class="row">
        <input type="text" id="search"> <!-- formControlName="seach"-->
    </div>
    <!-- <div class="row">
        <p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used
            in Typeahead</p>
            <br>

        <form>
            <div class="form-group form-inline">
                Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" />
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Country</th>
                    <th scope="col">Area</th>
                    <th scope="col">Population</th>
                    <th scope="col">column</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries$ | async; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                            style="width: 20px">
                        <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <!-- <p>{{ schedule_List | json }}</p>
        <p>{{ schedule_List[0]["certif-name"] | json }}</p>
        <div class="col-md-12" *ngFor="let schedule of schedule_List" >
            <p>{{schedule.certif_name}}</p>
        </div> -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">White Test n°</th>
                    <th scope="col">Test Code</th>
                    <th scope="col">Test Date</th>
                    <th scope="col">Accept / Deny</th>
                    <th scope="col">key</th>
                    <!-- <th scope="col">button</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedule_List ; index as i"> <!-- | async -->
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <ngb-highlight [result]="schedule.certif_name" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="schedule.WT_number | number" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="schedule.WT_token" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="schedule.date.day+'/'+schedule.date.month+'/'+schedule.date.year" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="" [term]="filter.value"></ngb-highlight>
                        <div *ngIf="schedule.accepted == ['true'] || schedule.accepted === true">
                            <button class="btn btn-sm btn-success mr-2" type="button">accepted</button> <!-- to make schedule.accepted == true work, true needs to be set as ['true'] -->
                            <button class="btn btn-sm btn-success mr-2" type="button">Cancel</button>
                        </div>
                        <div *ngIf="schedule.accepted == ['false'] || schedule.accepted === false">
                            <button  class="btn btn-sm btn-danger mr-2" type="button">Denied</button> <!-- to make schedule.accepted == true work, true needs to be set as ['true'] -->
                        </div>
                        <div *ngIf="schedule.accepted == undefined">
                            <button class="btn btn-sm btn-success mr-2" type="button" (click)="Accept_Deny_Buttons(schedule.id,true)">Accept</button>
                            <button class="btn btn-sm btn-danger" type="button" (click)="Accept_Deny_Buttons(schedule.id,false)">Deny</button>
                        </div>
                    </td>
                    <td>
                        <ngb-highlight [result]="schedule.id" [term]="filter.value"></ngb-highlight>
                    </td>
                </tr>
            </tbody>
        </table>

    <!-- </div> -->
<!-- </div> -->